image: webhippie/registry:2.7
manifests:
  -
    image: webhippie/registry:2.7-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: webhippie/registry:2.7-arm64v8
    platform:
      architecture: arm64
      os: linux
      variant: v8
  -
    image: webhippie/registry:2.7-arm32v7
    platform:
      architecture: arm
      os: linux
      variant: v7
